<html ng-app="loja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<h1>Lista de livros</h1>

<a href="#livro/cadastro">Novo livro
	<img alt="Novo"	src="resources/img/add-icon.png">
</a>
<br />
<br />

<label>Filtro <input type="text" ng-model="filtro"></label>
<br>
<br>

<div ng-controller="livroController" ng-init="listarLivros(1)">

	<div class="col-lg-12 col-md-8">
		<div class="card">
			<table class="table table-hover">
				<thead>
					<th>Código</th>
					<th>Capa</th>
					<th>Título</th>
					<th>Autor</th>
					<th>Preço</th>
					<th>Excluir</th>
					<th>Editar</th>
				</thead>
				<tbody>
					<tr ng-repeat="livro in data | filter: filtro">
						<td>{{livro.id}}</td>
						<td><img src="{{livro.foto}}"
							style="width: 40px; height: 43px;" /></td>
						<td style="text-transform: capitalize;">{{livro.titulo}}</td>
						<td style="text-transform: capitalize;">{{livro.autor}}</td>
						<td>{{livro.valor}}</td>
						<td>
							<a href ng-click="removerLivro(livro.id);">
								<img alt="Remover" title="Excluir" src="resources/img/delete-icon.png">
							</a>
						</td>
						<td>
							<a href ng-click="editarLivro(livro.id);">
								<img alt="Editar" title="Editar" src="resources/img/edit-icon.png">
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
	<div class="text-center">
		<button type="button" class="btn btn-info btn-fill btn-wd"
			ng-click="anterior();">Anterior</button>
		<button type="button" class="btn btn-info btn-fill btn-wd"
			ng-click="proximo();">Próximo</button>
	</div>
</div>
</html>
